<div id="app">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h2 class="mb-0">MEAN</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="home" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="posts" href="/posts">Posts</a>
                    </li>
                    <li class="d-flex">
                        <a class="nav-link" href="/user" *ngIf="userIsAuthenticated" routerLink="user">User</a>
                    </li>
                </ul>

                <ul class="navbar-nav my-2 mt-0 mb-lg-0" *ngIf="!userIsAuthenticated">
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="auth/register">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" routerLink="auth/login">Login</a>
                    </li>
                </ul>

                <ul class="navbar-nav my-2 mt-0 mb-lg-0" *ngIf="userIsAuthenticated">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" routerLink="profile">{{username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href (click)="logOut()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>