<div id="app">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h2 class="mb-0">MEAN</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="home" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="posts" href="/posts">Post</a>
                    </li>
                    <li class="nav-item" *ngIf="showAdminBoard">
                        <a class="nav-link" routerLink="admin" href="/admin">Admin Board</a>
                    </li>
                    <li class="nav-item" *ngIf="showModeratorBoard">
                        <a class="nav-link" routerLink="mod" href="/mod">Moderator Board</a>
                    </li>
                    <li class="d-flex">
                        <a class="nav-link" href="/user" *ngIf="isLoggedIn" routerLink="user">User</a>
                    </li>
                </ul>

                <ul class="navbar-nav my-2 mt-0 mb-lg-0" *ngIf="!isLoggedIn">
                    <li class="nav-item">
                        <a class="nav-link" href="/register" routerLink="register">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" routerLink="login">Login</a>
                    </li>
                </ul>

                <ul class="navbar-nav my-2 mt-0 mb-lg-0" *ngIf="isLoggedIn">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" routerLink="profile">{{username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href (click)="logOut()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>