<div class="col-md-12">
    <mat-card class="mt-4">
        <mat-card-content>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                <div>
                    <mat-form-field class="mt-4">
                        <mat-label>Email *</mat-label>
                        <input type="email" placeholder="Enter username" matInput formControlName="email" id="email" />
                        <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                            <ng-container *ngIf="email?.hasError('required')">
                                Email is required.
                            </ng-container>
                            <ng-container *ngIf="email?.hasError('pattern')">
                                Enter valid email address.
                            </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Password *</mat-label>
                    <input class="form-control" type="password" matInput formControlName="password" id="password"
                        appPreventCopyPaste autocomplete="" />
                    <mat-error class="alert alert-danger"
                        *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                        <ng-container *ngIf="password?.hasError('required')">
                            Password is required.
                        </ng-container>
                        <ng-container *ngIf="password?.hasError('minlength')">
                            Password should be atleast min 6 charactoer long.
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="alert alert-success" *ngIf="isLoggedIn">
        Your login is successful!
    </div>
    <div class="alert alert-danger" *ngIf="!isLoggedIn">
        Unauthorised user!
    </div>

    <!-- <div class="card card-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="alert alert-warning" *ngIf="!isLoggedIn">
                Login failed! <br /> {{errorMessage}}
            </div>

            <div class="alert alert-success" *ngIf="isLoggedIn">
                Your login is successful!
            </div>
        </form>
    </div> -->
</div>